html, body{
    height: 100%;
    background-image: url(../images/skyscraper.jpg);
    font-family: 'Roboto Slab';
    font-weight: lighter;
}
.jumbotron{
    text-align: center;
    margin-bottom: 0px;
    padding-top:5px;
    padding-bottom: 0px;
    border-radius: 0px;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: normal;
}
.jumbotron h1{
    
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    cursor:default;
}

.selector{
    padding: 0.5em;
    border-left: 3px solid #777777;
    margin-right: 2px;
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.selector-row{
     width: 100%;
     margin: 0 auto;
     
}
.selector:hover{
    text-decoration: underline;
}
.employees{
    background-color:#097572;
    margin-bottom: -2px;
    z-index: 3000;
    border-left: 2px solid #cccccc;
}
.departments{
    background-color:#32a8a4;
}
.locations{
    background-color:#99bfbe;
    z-index: 1;
    border-left: 2px solid #cccccc
}
#search{
    margin:0px;
    padding: 0px;
}
.search-bar{
    justify-content:center;
    position: relative;
}
.search-bar input{
    width: 70%;
}   
#add-button{
    margin-right:0px;
    margin-left: 60px;
    position: absolute;
    right: 20px;

}
.main-table{
    width: 100%;
    margin:0 auto;
    height: 83%;
    color: white;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #777777;
    border-bottom: 2px solid #777777;
    border-top: 2px solid #cccccc;
    border-radius: 10px;
    background-color: #097572;
}
.main-table tr td{
    cursor: pointer
}
.btn{
    background-color: #dddddd;
} 
.scrollable{
    height: 85%;
    overflow: auto;
}

.departments-div{
    display: none;
}
.locations-div{
    display: none;
}
.modal{
    z-index: 3001
}

.modal h4{
    text-align: center;
    margin-left: 25%
}
.modal img{
    width: 25%;
    display: block;
    margin: 20px auto;
}
.modal .updated{
    display: none;
    text-align: center;
}
.modal .form{
    display:none;
}
.modal .form .name{
    display: block;
    width: 100%;
}
.modal .form select{
    display: block;
    width: 100%;
}
.modal .form input{
    display: block;
    width: 100%;
}
.modal .form button{
    display: block;
    margin: 0 auto;
}
.modal .new input, select{
    width: 100%;
}
.center-bold{
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}
#location-form-depts input, #new-location-form-depts input{
    display: inline-block;
    width: auto;
    position: absolute;
    right: 15px;
}